.topnav{
  background-color: black;
  overflow: hidden;
}

.topnav a {
  float:right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-family: 'Kanit', sans-serif;
  font-size: 17px;
}
