/*notes:
  padding: top right bottom left;
  padding: top/bottom right/left;
*/

.grid { /*mobile version*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "toplogo toplogo"
  "navbar navbar"
  "myCloset myCloset"
  "footer footer";
  grid-gap: 10px;
}
.toplogo {
  grid-area: toplogo;
}
.navbar {
  grid-area: navbar;
}
.myCloset {
  grid-area: myCloset;
  display: grid;
}
.footer {
  grid-area: footer;
}

.navOpacity {
    opacity: .6;
}

nav {
  /*position: fixed;*/
  width: 100%
  height: 64px;
  padding: 0px 20px;
  box-sizing: border-box;
  transition: .3s;
  white-space: nowrap;
  overflow:hidden;
  text-align: center;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  background-color: white;
}

.nav-placeholder {
  margin: 0px 0 0px 0px; /*originally 0 0 10px 0*/
}

.fixed {
  overflow: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFF69E;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  /*opacity: .95;*/
}

nav .logo {
  float: left;
  padding: 10px 0 5px 0;
  transition: .3s;
}

nav ul {
  float: right;
  margin: 0;
  padding: 0;
  display:flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display:block;
  line-height: 40px;
  color: #1E1E1E;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
}

nav ul li ul {
  display: block;
  min-width:200px;
  position: absolute;
  /*box-shadow: 0 2px 5px rgba(0,0,0,.5);*/
  transition: .3s;
  background-color: white;
  opacity: inherit;
  /*margin-top: 10.3px;*/
}

nav ul li a:hover {
  background-color: #9DE8D2;
  border-radius: 1px; /*making larger will round edges*/
  /*opacity: inherit;*/
}

nav ul li ul li {
  display: none;
}

nav ul li ul li a {
  padding: 5px;
  line-height: 30px;
}

nav ul li:hover ul li {
  display:block;
  opacity: inherit;
}

nav ul li ul li a:hover {
    background-color: #f3f3f3;
    /*opacity: inherit;*/
}

.actualContent {
  margin-top: 80px;
}

.actualContent p {
  width: 900px;
  margin: 30px auto;
  text-align: justify;
  font-size: 20px;
  line-height: 30px;
}

body {
  margin: 0;
  padding:0;
  font-family: Kanit;
}

.shadow{
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

h1, h5{
font-family: 'Lekton', sans-serif;
color: grey;
text-align: center;
}

.formatCloset{
  /*margin-left: auto;
  margin-right: auto;*/
  width: 5em;
  text-align: center;
}

/*
html,body {
	margin: 0;
	padding: 0;
}

.slider {
	width: 100%;
  heigh: 100%;
  margin-top: 100px;
}


.slider-wrapper {
	width: 100%;
	height: 400px;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

.canvas{
  float:left;
}*/

.footerProperties {
  background-color: #ADFFB6;
  text-align: center;
  padding: 10px 0px;
  margin-bottom: 20px;
}

@media screen and (min-width: 736px) /*desktop version*/
{
  .grid {
    display: grid;
    grid-template-columns: 1fr 300px 300px 300px 300px 1fr;
    grid-template-areas:
    ". toplogo toplogo toplogo toplogo ."
    "navbar navbar navbar navbar navbar navbar"
    ". myCloset myCloset myCloset myCloset ."
    ". footer footer footer footer .";
      grid-gap: 10px;
  }
}
