/*notes:
  padding: top right bottom left;
  padding: top/bottom right/left;
*/

body {
  margin: 0;
  padding:0;
}

.grid { /*mobile version*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "toplogo toplogo"
  "navbar navbar"
  "sidebar sidebar"
  "content content"
  "footer footer";
  grid-gap: 10px;
}
.toplogo {
  grid-area: toplogo;
}
.navbar {
  grid-area: navbar;
}
.sidebar {
  grid-area: sidebar;
  display: grid;
}
.content {
  grid-area: content;
  display: grid; /* for nested elements */
}
.footer {
  grid-area: footer;
}


.sidebarProperties {
  width: 200px;
  height: 300px;
  left: 10px;
  padding: 10px 10px;
  box-sizing: border-box;
  transition: .3s;
  white-space: nowrap;
  /*overflow:hidden;*/
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  background-color: #C8E897;
}

.sidebarProperties ul li {
    align-items: flex-start;
    list-style: none;
}

.sidebarProperties a {
  line-height: 60px;
  padding: 12px 60px 12px 12px;
  color: #1E1E1E;
  text-decoration: none;
  text-transform: uppercase;
}

.sidebarProperties a:hover {
  background-color: #9DE8D2;
  border-radius: 1px; /*making larger will round edges*/
}

.sidebarProperties-placeholder {
  margin: 0px 0px 0px 0px; /*originally 0 0 10px 0*/
}

.fixedSidebar {
  /*overflow: visible;*/
  position: fixed;
  top: 100px; /*distance between stickynav and stickyside*/
  left: 10px;
  width: 200px;;
  background-color: #C8E897;
  /*box-shadow:0 2px 5px 0 rgba(0,0,0,0.2),0 4px 10px 0 rgba(0,0,0,0.19);*/
  /*opacity: .95;*/
}

nav {
  /*position: fixed;*/
  width: 100%;
  height: 64px;
  padding: 0px 20px;
  box-sizing: border-box;
  transition: .3s;
  white-space: nowrap;
  overflow:hidden;
  text-align: center;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  background-color: #FFF69E;
}

.nav-placeholder {
  margin: 0px 0px 10px 0px; /*originally 0 0 10px 0*/
}

.fixed {
  overflow: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFF69E;
  box-shadow:0 4px 5px 0 rgba(0,0,0,0.2),0 4px 10px 0 rgba(0,0,0,0.19);
  /*opacity: .95;*/
}

nav .logo {
  float: left;
  padding: 10px 0 5px 0;
  transition: .3s;
}

nav ul {
  float: right;
  margin: 0;
  padding: 0;
  display:flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display:block;
  line-height: 40px;
  color: #1E1E1E;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
}

nav ul li ul {
  display: block;
  min-width:200px;
  position: absolute;
  /*box-shadow: 0 2px 5px rgba(0,0,0,.5);*/
  transition: .3s;
  background-color: white;
  opacity: inherit;
  /*margin-top: 10.3px;*/
}

nav ul li a:hover {
  background-color: #9DE8D2;
  border-radius: 1px; /*making larger will round edges*/
  /*opacity: inherit;*/
}

nav ul li ul li {
  display: none;
}

nav ul li ul li a {
  padding: 5px;
  line-height: 30px;
}

nav ul li:hover ul li {
  display:block;
  opacity: inherit;
}

nav ul li ul li a:hover {
    background-color: #f3f3f3;
    /*opacity: inherit;*/
}

.actualContent {
  /*margin-top: 80px;*/
}

.actualContent p {
  width: 800px;
  margin: 30px auto;
  text-align: justify;
  font-size: 15px;
  line-height: 30px;
}

h1 {
  font-family: 'Amatic SC', cursive;
  text-transform: uppercase;
  font-size: 100px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}


.sec2 h1 {
  color: white;
  background-color: #9DE8D2;
  padding: 10px 10px;
  border-radius: 20px;
  width: 300px;
  text-align: center;
  width: 700px;
  margin: 0px 100px 100px 100px
}

.footerProperties {
  background-color: #ADFFB6;
  text-align: center;
  padding: 10px 0px;
  margin-bottom: 20px;
}

.shadow{
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

section.sec2 {
  width: 900px;
  height: 50vh;
  background-image: url('images/thrift-flips-101.jpg');
  background-size:cover;
  background-position:center;
  border-radius: 0px;
}


#border {
    border: 2px solid black;
    padding: 10px;
    height: 100px;
    width: 100px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    text-align: center;
}

@media screen and (min-width: 736px) /*desktop version*/
{
  .grid {
    display: grid;
    grid-template-columns: 1fr 300px 300px 300px 300px 1fr;
    grid-template-areas:
    ". toplogo toplogo toplogo toplogo ."
    "navbar navbar navbar navbar navbar navbar"
    ". sidebar content content content ."
    ". footer footer footer footer .";
      grid-gap: 10px;
  }
}
